.container {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
}

.top__section {
  align-self: flex-start;
  margin-left: 5px;
  margin-top: 15px;
}

.new {
  display: flex;
  align-items: center;
}

.folder {
  height: 30px;
  width: 30px;
  position: relative;
}

.task {
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 600;
  margin: 0;
  margin-left: 15px;
  font-size: 30px;
}

.project {
  margin-bottom: 5px;
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 300;
}

.clinic {
  border-radius: 5px;
  background-color: rgb(231, 225, 225);
  border: none;
  height: 40px;
  width: 45em;
  background: #ecf5ed;
  border-radius: 12px;
  padding-left: 10px;
}

.clinic:focus {
  outline: none;
}

.upload {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  margin-top: 10px;
}

.excel {
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.info {
  height: 20px;
  width: 26em;
  position: relative;
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ecf5ed;
  width: 55%;
  height: 35%;
  color: #161616;
  margin-top: 20px;
}

.upload__icon {
  height: 18px;
  width: 18px;
  position: relative;
  margin-right: 6px;
}

.drag {
  color: #161616;
  text-decoration: none;
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

.files {
  height: 60px;
  display: flex;
  justify-content: center;
}

.file__icon {
  height: 60px;
  width: 60px;
  position: relative;
}

.like {
  color: #161616;
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  margin-top: 20px;
}

.check {
  width: 80%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option {
  display: flex;
  align-items: center;
}

.terms__label {
  font-family: "Passenger Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-left: 5px;
}

.terms {
  width: 14px;
  height: 14px;
  border: 2px solid #015239;
  border-radius: 2px;
  cursor: pointer;
  border-color: #015239;
  color: #015239;
}

.terms:checked {
  background-color: #015239;
  color: #015239;
}

.check__icon {
  position: relative;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border-radius: 2px;
}

.btn {
  background: #015239;
  border-radius: 8px;
  padding: 0 16px;
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  height: 2.5em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
