.container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 25px;
}

.header {
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 46px;
  color: #343a40;
  margin-top: 20px;
  margin-bottom: 5px;
}

.new__project {
  margin-top: 10px;
  width: 96%;
  background: rgba(156, 55, 118, 0.97);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 0px;
}

.box__head {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
  margin-top: 0;
}

.project__button {
  padding: 16px 24px;
  background: #1e5b48;
  border: none;
  border-radius: 8px;
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.info__box {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.upload__icon {
  height: 16px;
  width: 16px;
  position: relative;
  margin-right: 10px;
}

.info__box__text {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.activity__boxes {
  width: 95%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.left__box {
  width: 60%;
}

.search {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.search__bar {
  box-sizing: border-box;
  display: flex;
  padding: 0px 12px;
  width: 60%;
  height: 36px;

  background: #ffffff;
  border: 1px solid rgba(58, 53, 65, 0.23);
  border-radius: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;

  color: rgba(58, 53, 65, 0.38);
}

.search__bar::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: rgba(58, 53, 65, 0.38);
}

.search__bar[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.sort__button {
  padding: 0px 22px 0px 12px;

  background: #ffffff;
  border: 1px solid rgba(58, 53, 65, 0.23);
  border-radius: 6px;
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}

.sort__icon {
  width: 1em;
  height: 19px;
  position: relative;
  margin-right: 6px;
}

.recent {
  width: 100%;
  margin-top: 10px;
}

.recent__header {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 25px;
}

.recent__header__title {
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  color: #4c4c4c;
}

.view__all {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1e5b48;
}

.table {
  width: 100%;
  height: 225px;
  background: #fcfcfc;
  border: 1.09669px solid #e0e7ed;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 36px;
  font-weight: 600;
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 900;
}

.right__box {
  width: 30%;
}

.right__box__button {
  width: 120px;
  height: 34px;
  background: #1e5b48;
  box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42);
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.activity__monitor {
  width: 100%;
  height: 260px;
  margin-top: 10px;
  background: #fcfcfc;
  box-shadow: 0px 2px 12px rgba(37, 51, 66, 0.15);
  border-radius: 8px;
}
