.container {
  height: 100%;
  width: 5%;
  background-color: #ecf5ed;
  display: flex;
  flex-direction: column;
  position: relative;
}

.logo__box {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #8b8b8b;
}

.logo {
  width: 21px;
  height: 27px;
  position: relative;
  margin-left: 17px;
}

.logo__name {
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #161616;
  margin-left: 10px;
}

.open__box {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 17px;
}

.open__icon {
  width: 21px;
  height: 21px;
  position: relative;
}

.collapse__text {
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #161616;
  margin-left: 5px;
}

.nav__buttons {
  margin-top: 50px;
  width: 100%;
  align-self: flex-start;
  box-sizing: border-box;
}

.nav__title {
  font-family: "Passenger Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #8b8b8b;
  margin-bottom: 20px;
  margin-left: 22px;
}

.nav__button__item {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 22px;
}

.icon__box {
  width: 22px;
  height: 22px;
  position: relative;
}

.nav__text {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: none;
  margin-left: 8px;
}

.logout {
  width: 82%;
  height: 34px;
  position: absolute;
  bottom: 45px;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 22px;
}

.logout__icon {
  width: 22px;
  height: 22px;
  position: relative;
}

.logout__text {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
  display: none;
  margin-left: 10px;
}
