.container {
  height: 100%;
  width: 5%;
  background-color: #1e5b48;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.expand {
  margin-top: 10px;
  width: 16px;
  height: 16px;
  position: relative;
  align-self: flex-end;
  margin-right: 10%;
  cursor: pointer;
}

.logo {
  margin-top: 20px;
  width: 38px;
  height: 38px;
  position: relative;
  align-self: flex-start;
  margin-left: 10%;
}

.nav__buttons {
  margin-top: 80px;
  width: 82%;
  align-self: flex-start;
  margin-left: 22px;
}

.nav__button__item {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon__box {
  width: 22px;
  height: 22px;
  position: relative;
}

.nav__text {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  display: none;
  margin-left: 20px;
}

.logout {
  width: 82%;
  height: 34px;
  position: absolute;
  bottom: 45px;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.logout__icon {
  width: 22px;
  height: 22px;
  position: relative;
}

.logout__text {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
  display: none;
  margin-left: 10px;
}
